td {
  font-family: "Courier New";
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

p {
  font-family: "Courier New";
  font-size: 15px;
  font-weight: normal;
  text-align: justify;
}

a {
  text-decoration: none;
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  text-align: justify;
}

a:hover {
  text-decoration: none;
  color: red;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

body {
  background-image: url("img/veracruzEscenario1024x768.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bodyrs {
  background-image: none !important; /* elimina la imagen */
  background-color: #ffffff; /* color liso de respaldo, puedes cambiarlo */
}

span {
  float: left;
  width: 0.7em;
  font-size: 400%;
  font-family: Algerian, Courier;
  line-height: 80%;
}
